body{
    background-color: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 960 px;
    font-size: 18px;
    text-align: center;
   
}

.Header{ background-color: #ebebeb;
    padding: 10px;
    border-width: 10px;
    margin-bottom: 10px;
}

.Nav{ 
    background-color: #ebebeb;
    padding:15px;
    border-width: 15px;
    margin-bottom: 10px;
}

.Section{color: #777;
    background-color: #ebebeb;
    float:left;
    width: 495px;
}
.Article{ color: #ebebeb;
    background-color: #777;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15 px;
}
.p1{
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    box-sizing: border-box;
}

.p2{
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    box-sizing: border-box;
}

.Aside{color: #777;
    background-color: #ebebeb;
    float:left;
    margin-top: 10px;
}

.Footer{color: #ebebeb;
    background: #777;

}